<div class="container">
<h1>Make A Post</h1>
<% if @new_thread_submitted %>
<!-- should redirect once the thread is submitted -->
	<p class="new_thread_submitted">Thank you for creating a new post!</p>
<% else %>
<form actions="/create" method="post">
	<div class="row">
		<div class="six columns">
		<label for="topics_id">Topic</label>
			<select class="u-full-width" name="topics_id">
			<% @topics.each do |topic| %>
			<option value="<%= "#{topic['id']}" %>"><%= "#{topic['name']}" %></option>
			<%end%>	
		</select>
	</div>
		
	<div class="six columns">
		<label for="title">Title</label>
		<input class="u-full-width" type="text" placeholder="Title for your post"name="title" />
	</div>
	</div>

		<label for="msg">Message</label>
		<textarea class="u-full-width" placeholder="Write your post here" name="msg"></textarea>


	
		<label for="username"></label>
		<input type="hidden" name="username" />



	<input class="button-primary" type="submit" value="Submit" />
	<!-- style="background-color: black; color: white;font-family: 'Cabin Condensed', sans-serif;text-align: center;" -->

</form>
<%end%>
</div>
