<h1>Login</h1>

<% if @error %><%= @error %><% end %>

<form method="post" action="/login">
<input type="text" name="login_name">
<input type="password" name="login_password">
<input style="background-color:black;color: white;font-family: 'Cabin Condensed', sans-serif;" type="submit" value="Login">
</form>