<div class="container">
<h1>Sign Up</h1>

<% if @error_signup %><%= @error_signup %><% end %>

<form method="post" action="/signup">
<div class="row">
		<div class="six columns">
		<label for="login_name">Username</label>
			<input class="u-full-width" placeholder="Your username" type="text" name="login_name">
		</div>
		<div class="six columns">
		<label for="login_password">Password</label>	
			<input class="u-full-width" type="password" placeholder="Your password" name="login_password">
		</div>
		</div>	
		<input class="button-primary" type="submit" value="Sign up">
</form>
</div>