<!-- takes you to a specific topic and lists all the threads in that topic -->
<div class="container">
<h1><%= @topic_headline["name"]%></h1>
<div class="display_threads_of_topics">
	  <% @topic.each do |t|%>
	  <div class="row threads_of_topics">
	  <div class="four columns threads_of_topics">
	  <img src="../images/noun_130904.png"/> <%= "#{t['votes']} likes" %>
	  </div>
	  <div class="eight columns threads_of_topics">
	  <a href="/threads/<%="#{t['id']}"%>"><%="#{t['title']}"%></a>
	  </div>
	  </div>
	  <% end %>
	</div>
</div>	

